# python tmp files
*pyc
*__init__.py
/__pycache__
/__pycache__/



# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
*egg-info

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
